body{
  font-family: 'Roboto Condensed', sans-serif;
}
.icon {
  width: 35px;
  height: 35px;
  /*border-radius: 50%;*/
}
.icon img{
    width: 25px;
}
.bg-theam{
  background-color: #ff5722 !important;
}
.theam-border-primary {
  border-color: #ff5722 !important;
}
.theam-color{
  color: #ff5722 !important;
}
.news{
  background-color: #fff;
  transition: all 0.3s ease;
}
.news:hover{
  background-color: #f2f2f2;
  transition: all 0.3s ease;
}

.btn-outline-primary {
    color: #ff5722;
    border-color: #ff5722;
}
.btn-outline-primary:hover{
    color: #fff;
    background-color: #ff5722;
    border-color: #ff5722;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle{
    color: #fff;
    background-color: #ff5722;
    border-color: #ff5722;
}
.bg-transparent {
    background-color: rgba(0,0,0,0.7) !important;
}

@media (max-width: 768px) {
.pt-xs-0, .py-xs-0 {
    padding-top: 0 !important;
  }
.mt-xs-0, .my-xs-0 {
    margin-top: 0 !important;
  }
}
@media (max-width: 576px) {
  .text-xs-left {
    text-align: left !important;
  }
  .text-xs-right {
    text-align: right !important;
  }
  .text-xs-center {
    text-align: center !important;
  }
}

@media (min-width: 576px){
  .d-sm-none {
      display: none !important;
  }
}